body {
    margin: 0 auto;
    font-size: 0;

    .app {
        background-color:white;
        display: flex;
        height: 100vh;

        .center {
            text-align: center;
        }
        .container {
            margin: 0 auto;
            width: 1000px;
        }
    }
}

body>*{
    font-size: 1rem;
}

// *{
//     border:1px solid red;
//   }