.aside1{
  background-image: url('../../assets/images/dots-box1.png');
  background-size: 70%;
  display: table-cell;
  background-repeat: no-repeat;
  background-position-y: 40%
}
.aside2{
  background-image: url('../../assets/images/strips1.png');
  background-size: contain;
  display: table-cell;
  position: relative;
}
