.main-nav{
  position: absolute;
  top: 27%;
  right: 2%;

  li{
    display: inline-block;
    margin-left: 30px;
    list-style: none;
    font-size: .85rem;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 3px darkgrey;
    cursor: pointer;
    font-family: sans-serif;

    a{
      text-decoration: none;
      color: #754b23;

      &:hover{
        color: orange;
      }
    }
  }
}



